// jodel colors
$orange:    #ff9908
$yellow:    #ffba00
$red:       #dd5f5f
$blue:      #06a3cb
$bluegrey:  #8abdb0
$green:     #9ec41c

$accent:    #EC8516
$font-primary:    #fff
$font-secondary:  #aaa
